@import "./colorcode";

.emoji-shadow {
  width: 100%;
  min-height: 100vh;
  // overflow-y: scroll; // wherever I am on the page, this div pops up right in the middle
  background: rgba(0, 0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
}
.picker-emoji {
  background-color: $color-dark-background;
  background: $color-dark-background;
  overflow: auto;
}

.fav-list {
  .favlistpanel-emoji {
    position: fixed;
    -webkit-transform: translateX(-103%) translateY(37%);
    transform: translateX(-103%) translateY(37%);
    z-index: 12;
  }
}
.popuplists-container {
  .popuplists-emoji {
    position: absolute;
    -webkit-transform: translateX(-103%) translateY(0%);
    transform: translateX(-103%) translateY(0%);
    z-index: 12;
  }
}

.list-body {
  .list-emoji {
    position: absolute;
    -webkit-transform: translateX(0%) translateY(-25%);
    transform: translateX(0%) translateY(-25%);
    z-index: 12;
  }
}
