@import "./colorcode";
.dark-mode {
  .block-message {
    grid-column-start: 3;
    min-width: 640px;
  }

  .text-message {
    box-shadow: $color-dark-boxshadow;
    padding: 1.5rem;
    margin-top: 1rem;
    border-radius: 0.3rem;
    border: solid 1px $color-dark-outline;
    font-size: small !important;
    color: $color-dark-text-first !important;
  }

  .text-timestamp {
    text-align: right;
    padding-top: 0.25rem;
    padding-right: 0.5rem;
    font-style: italic;
    font-size: smaller !important;
    color: $color-dark-text-third !important;
  }

  .block-message-empty {
    grid-column-start: 3;
    min-width: 640px;
    padding: 1rem;
    margin: 0.5rem;
    font-size: smaller;
  }
}
