@import "./colorcode";

.dark-mode {
  .nav {
    display: grid;
    grid-template-columns: 1fr 1fr 4fr 2fr 1fr 1fr;
    // column-gap: 2rem;

    min-height: 5vh;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    //   margin: 0rem 1rem;
    background-color: $color-dark-background;
    z-index: 99;

    .addtolist-container {
      // position: absolute;
      align-self: center;
      position: relative;
      display: inline-block;
    }

    .addtolist-list {
      display: none;
      position: absolute;
      background: $color-dark-background;
      -webkit-transform: translateX(-103%) translateY(37%);
      transform: translateX(-80%) translateY(0%);
      z-index: 12;
    }

    .addtolist-container:hover .addtolist-list {
      display: block;
      position: absolute;
    }
    // .addtolist-container:hover .addtolist-icon {
    //   background-color: #3e8e41;
    // }

    .addtolist-icon {
      align-self: center;
    }
    .addtolist-icon:hover {
      color: $color-stonkdown-second;
    }

    // .addtolist-icon:hover ~ .addtolist-list {
    //   display: block;
    // }
  }
  // .logo-container {
  //   grid-column-start: 1;
  //   display: flex;
  //   justify-content: flex-end;
  // }
  .logo {
    //   padding-right: 3rem;
    //   background-color: hotpink;
    //   width: 30%;
    grid-column-start: 1;
    text-align: right;
    font-size: larger;
    cursor: pointer;
    transition: 0.3s ease;
    // padding-left: 1rem;
    font-family: Lobster;
  }
  .logo:hover {
    color: aqua;
  }

  .search-field {
    grid-column-start: 3;
    min-width: 300px;
    margin: 0rem 0.5rem;
    // min-width: 640px;
  }
  .search-bar {
    position: relative;
    width: 100%;

    .fasearch-icon {
      color: $color-dark-text-third;
      position: absolute;
      top: 1.5rem;
      left: 0.5rem;
    }
    .fasearch-active {
      color: $color-dark-hover-icon !important;
    }
    // // .search-input:hover ~ .fasearch-icon {
    // //   color: $color-dark-hover-icon;
    // // }
    // .inactive:hover ~ .fasearch-icon {
    //   color: $color-dark-hover-icon;
    // }

    .search-input {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      background-color: transparent;
      width: 100%;
      max-width: 30rem;
      font-size: small;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-left: 2rem;
      margin: 1rem 0rem;
      border: none;
      box-shadow: inset 0 0 0 1px $color-dark-hover;
      // border-style: inset;
      // border: 1px solid lightgray;
      // box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
      border-radius: 0.3rem;
      color: $color-dark-text-first;
    }

    .search-input:hover {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      outline: none;
      background-color: $color-dark-hover;
      border: none;
      box-shadow: inset 0 0 0 1px $color-dark-hover;
      // border-style: inset;
      // border: 1px solid gray;
      // box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);

      // transition: 0.5s ease;
    }
    .search-input:focus {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      outline: none;
      -webkit-appearance: none;

      background-color: $color-dark-hover;
      border: none;
      box-shadow: inset 0 0 0 1px $color-dark-outline;
      // border-style: inset;
      // border: 1px solid gray;
      // box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);

      // transition: 0.5s ease;
    }
    .inactive {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      background-color: transparent !important;
      -webkit-appearance: none !important;
      border: none;
      outline: 0 !important;
      box-shadow: none !important;
    }
    .inactive:hover {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      outline: 0 !important;
      background-color: transparent !important;
      -webkit-appearance: none !important;
      // border: none !important;
      box-shadow: none !important;
    }
    .inactive:focus {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      background-color: transparent !important;
      -webkit-appearance: none !important;
      border: none;
      box-shadow: none !important;
      outline: 0 !important;
    }
  }

  .search-dropdown {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: absolute;
    top: 16px;
    background-color: $color-dark-hover;
    width: 100%;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid $color-dark-outline;
    border-radius: 0.3rem;
    transition: 0.5s ease;
    overflow: hidden;
    z-index: -1;

    h4 {
      font-size: small;
      font-weight: 500;
      padding: 3rem 1rem 0.5rem 1rem;
    }
    p {
      font-size: small;
      font-weight: 300;
      padding: 0.5rem 1rem;
      font-style: italic;
    }
  }

  .search-result {
    //   background-color: honeydew;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 30rem;
    white-space: nowrap;
    overflow: hidden;
    font-size: small;
    font-weight: 500;
  }

  .navsearch-result {
    display: grid;
    grid-template-columns: 15fr 1fr;
  }
  .detailed-result {
    // display: flex;
    display: grid;
    grid-template-columns: 1.5fr 5fr;
    list-style-type: none;
    cursor: pointer;
    align-items: center;
    // background: red;
    .symbol-result {
      text-transform: uppercase;
      text-align: left;
      padding: 0.5rem 1rem;
      // width: 10%;
      // max-width: 10rem;
      //   margin: 0.5rem 0rem;
    }
    .description-result {
      text-transform: capitalize;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      padding: 0.5rem 1rem;
      //   width: 70%;
      // max-width: 20rem;
      //   background-color: gray;
    }
    .highlight-input {
      color: $color-stonkdown-first;
    }
  }

  .navsearch-result:hover {
    background-color: $color-dark-outline;
    color: $color-dark-text-first;
  }

  .search-shadow {
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    //   overflow-y: scroll;
    position: fixed;
    top: 0;
    left: 0;
  }
  // .test {
  //   position: relative;
  // }

  .menu-items {
    grid-column-start: 5;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    // min-width: 320px;
    // width: 400px;
    // justify-content: space-around;
    align-items: center;
    cursor: pointer;
    padding-right: 1rem;
    li {
      padding: 0.5rem;
      // background-color: khaki;
      font-size: small;
      font-weight: 500;
      a:hover {
        color: aqua;
        transition: all 0.2s ease;
      }
    }
  }
  .toggle-switch-mode {
    grid-column-start: 6;
    display: flex;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    text-align: left !important;
    grid-column-start: 2 !important;
    // position: absolute;
  }
}
